body {
    background-image: url("image.png");
    background-size: cover;
     background-position: center;
    background-repeat: no-repeat;
     min-height: 100vh;
    margin: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    font-weight: bold;
}

h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 60px;
}

h2 {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 25px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}
 #save-el{
    font-size: 28px;
 }